VITE_SUPABASE_URL=Place here if env is hidden or manually if env exposed
VITE_SUPABASE_KEY=Place here if env is hidden or manually if env exposed
VITE_PARTICIPANTS_TABLE_NAME=Place here if env is hidden or manually if env exposed
VITE_GIT_BASE_URL=Github Io link
VITE_GIT_REPO_NAME=Github repo link
VITE_KINDE_DOMAIN=Kinde domain link
VITE_KINDE_CLIENTID=Kinde client id
VITE_FACE_API_ADDRESS=Face API address